<!doctype html>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<section>
  <header>
    <div class="topnav">
      <a class="active" href="{{ url_for('about') }}">Resume</a>
      <a href="{{ url_for('Predictor') }}">Traffic Closure Project</a>
	  <a class="active" href="{{ url_for('projects') }}">Other Projects</a>
    </div>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

